In [1]:
#Задание 1.2
#Очень популярен вопрос о различии оператора проверки идентичности is и оператора сравнения ==.
#Что будет выведено в результате выполнения следующего кода?
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b, a == c, a is b, a is c)

True True True False

In [12]:
#№Задание 1.4
#Даны две структуры:
one = [1, "2", 3, "4"]
two = ("a", "b", "c", "d")
three = two + ("f", 'g')

In [17]:
#Задание 1.8
#Дан словарь config, содержащий в себе конфигурацию некоторого сервера:
#С помощью какого из следующих вариантов кода можно получить логин SSH-соединения?
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some",
            "password": "some"
        },
        "name": "2491Oaaf1414"
    }
}
config['configuration']['ssh']['login']

'some'

In [ ]:
#Задание 1.9
#Какой из нижеперечисленных циклов проходит по ключам и значениям словаря my_dict одновременно?

In [20]:
def standart_z(values):
    relative_value = (values - values.min()) / (values.max() - values.min())
    scaled_value = new[0] + (new[1] - new[0]) * relative_value
    return scaled_value

In [18]:
def standart_z(values, new):
    relative_value = (values - values.min()) / (values.max() - values.min())
    scaled_value = new[0] + (new[1] - new[0]) * relative_value
    return scaled_value

In [21]:
# Функция чтения данных
def read_data():
    data = open('data/war_peace_processed.txt', 'rt', encoding='utf-8').read()
    data = data.split('\n')
    return data


# Функция подсчёта частоты употребления слова в тексте
def freq(target_word):  
    new_dict = dict() 
    for i in data: # СТРОКА С ОШИБКОЙ
        if i not in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] = new_dict.get(i) + 1
    return new_dict.get(target_word, 0)


# Вызов функций
read_data()
freq('война')

NameError: name 'data' is not defined

In [ ]:
#Задание 1.20
1 point possible (graded)
#Выберите верный синтаксис определения lambda-функции, которая возвращает 0, если значение аргумента функции не находится в заданном списке cities. 
# В противном случае функция возвращает аргумент без изменений.

lambda arg: 0 if arg not in cities else 1

#lambda: arg if arg in cities else 0

lambda arg: arg if arg in cities else 0

lambda arg: if arg in cities arg else 0

In [ ]:
# Задание 2.1
def apply_discounts(products, stocks):
    products_discount = {}
    for k in stocks.keys():
        stocks[k] = round(float(stocks[k].replace('%',''))/100,2)
    for k,v in products.items():
        if k in stocks:
             products_discount[k] = round(v - (v * stocks[k]),2)
        else:
            products_discount[k] = v
    return products_discount
products={
        "Oranges (packaged)": 114.99,
        "Candy (Rotfront)": 280.00,
        "Boiled sausage": 199.99,
        "Juice J7 (orange)": 119.99,
        "Trout (Seven Seas)": 399.99
        }
stocks = {
        "Boiled sausage": "33%",
        "Juice J7 (orange)": "12%",
        "Trout (Seven Seas)": "18%"
    }
new_products = apply_discounts(products, stocks)
#print(new_products)

In [ ]:
import pandas as pd

bronze_data = pd.read_csv('bronze_top.csv')
silver_data = pd.read_csv('silver_top.csv')


merged = bronze_data.merge(silver_data, how='inner', on='Country', suffixes=['_bronze', '_silver'])

In [22]:
import pandas as pd
solar_data = pd.read_csv('data/solarpower.csv')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [ ]:
#Задание 3.1
#В нашем временном ряде есть несколько пропусков, они обозначены числом -1. Заполните пропуски средним арифметическим между двумя соседними наблюдениями:
#Совет: проще всего будет сделать это, используя цикл по индексам элементов столбца cum_power, но вы можете предложить более изящное решение.
#Чему равно среднее арифметическое в столбце cum_power после заполнения пропусков? Ответ округлите до целого.

In [23]:
solar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    object
 1   cum_power  664 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.5+ KB

In [26]:
#создаем копию исходной таблицы
solar_df = solar_data.copy()

In [45]:
def nan_function(x):
    return np.nan if x == -1 else x
solar_df["cum_power"] = solar_df["cum_power"].apply(nan_function)
solar_df.isnull().mean().round(2).sort_values(ascending=False)

date         0.0
cum_power    0.0
dtype: float64

Задание 3.2
Теперь, когда таблица заполнена, создайте столбец day_power — ежедневная выработка солнечной энергии.

Далее создайте данные о средней ежедневной выработке энергии на каждый месяц-год.

Совет: для того чтобы выделить из даты год и месяц, проще всего будет воспользоваться методом аксессора dt.to_period('M'), который позволяет выделять периоды (в данном случае 'М' — месяц).

Затем сгруппируйте данные по периодам (год-месяц) и рассчитайте среднее в столбце day_power.

Сколько солнечной энергии в среднем в день выработали в марте 2017 года? Ответ округлите до целого.
 
Подсказка (1 из 1): Ежедневную выработку можно рассчитать как разницу между двумя последовательными показателями cum_power. Это можно сделать с помощью метода diff().

In [ ]:
solar_df